#############################################
#    Adams Bridge Code Owners               #
#############################################

# compilespecs.yml and compile.yml are used in Microsoft
# internal build processes; edits must be approved by Microsoft
# reps
compilespecs.yml
compile.yml
