---
provides: [uvmf_mldsa]
schema_version: 2.4.0
requires:
  - mldsa_uvmf_lib
  - abr_top
  - abr_uvm_pkg
  - abr_coverage
targets:
  tb:
    directories:
      - ${COMPILE_ROOT}
      - ${COMPILE_ROOT}/uvmf_template_output/verification_ip/environment_packages/mldsa_env_pkg
      - ${COMPILE_ROOT}/uvmf_template_output/verification_ip/environment_packages/mldsa_env_pkg/registers
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/parameters
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/sequences
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/tests
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/testbench
    files:
      - ${COMPILE_ROOT}/uvmf_template_output/verification_ip/environment_packages/mldsa_env_pkg/registers/mldsa_reg_model_top_pkg.sv
      - ${COMPILE_ROOT}/uvmf_template_output/verification_ip/environment_packages/mldsa_env_pkg/mldsa_env_pkg.sv
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/parameters/mldsa_parameters_pkg.sv
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/sequences/mldsa_sequences_pkg.sv
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/tests/mldsa_tests_pkg.sv
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/testbench/hdl_top.sv
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/testbench/hvl_top.sv
    tops:
      - hdl_top
      - hvl_top
  sim:
    pre_exec: 'echo "[PRE-EXEC] Copying C executable vector generator to $PWD"
                && cp $COMPILE_ROOT/Dilithium_ref/dilithium/ref/test/test_dilithium5 .
                && cp $COMPILE_ROOT/Dilithium_ref/dilithium/ref/test/test_dilithium5_strm_msg .
                && cp $COMPILE_ROOT/Dilithium_ref/dilithium/ref/test/test_dilithium5_strm_msg_debug .
                && cp -r $MSFT_SCRIPTS_DIR/models/ml-kem .
                && mkdir ml-kem/tv'
global:
  tool:
    vcs:
      default:
        - '-assert svaext'
        - +define+ABR_ASSERT_ON
        - +define+SIMULATION
        - '-noinherit_timescale=1ns/1ps'
        # Suppress a warning due to calling $fgets as task instead of function
        # i.e. discarding the return value. This is in auto-generated code.
        - '+warn=noRVOSFD'
        # Suppress NOTE about repeated package imports within the same
        # package (each .svh file included in the auto-generated UVM _pkg.sv
        # files imports the same dependencies)
        - '-suppress=SV-LCM-PPWI'
      elab:
        # Suppress warnings about too few port connections - auto-generated interfaces
        # declare all signals as inout, but are driven at a lower layer than the
        # instantiation, so they will always flag this
        - '-suppress=TFIPC'
      sim:
        - '-sv_root $QUESTA_MVC_HOME/questa_mvc_core/linux_x86_64_gcc-6.2.0_vcs'
        - '-sv_lib libahb_IN_SystemVerilog_VCS_full'
        - '-sv_lib libapb3_IN_SystemVerilog_VCS_full'
        # Report "MVC_ERROR" as "UVM_ERROR"
        - '+QVIP_UVM_REPORTING'
        - '+UVM_VERBOSITY=UVM_LOW'  # Adding UVM verbosity level here
---
provides: [uvmf_mldsa_sram2clk_nomasking]
schema_version: 2.4.0
requires:
  - mldsa_uvmf_lib
  - abr_top
  - abr_uvm_pkg
  - abr_coverage
targets:
  tb:
    directories:
      - ${COMPILE_ROOT}
      - ${COMPILE_ROOT}/uvmf_template_output/verification_ip/environment_packages/mldsa_env_pkg
      - ${COMPILE_ROOT}/uvmf_template_output/verification_ip/environment_packages/mldsa_env_pkg/registers
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/parameters
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/sequences
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/tests
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/testbench
    files:
      - ${COMPILE_ROOT}/uvmf_template_output/verification_ip/environment_packages/mldsa_env_pkg/registers/mldsa_reg_model_top_pkg.sv
      - ${COMPILE_ROOT}/uvmf_template_output/verification_ip/environment_packages/mldsa_env_pkg/mldsa_env_pkg.sv
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/parameters/mldsa_parameters_pkg.sv
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/sequences/mldsa_sequences_pkg.sv
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/tests/mldsa_tests_pkg.sv
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/testbench/hdl_top.sv
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/testbench/hvl_top.sv
    tops:
      - hdl_top
      - hvl_top
  sim:
    pre_exec: 'echo "[PRE-EXEC] Copying C executable vector generator to $PWD"
                && cp $COMPILE_ROOT/Dilithium_ref/dilithium/ref/test/test_dilithium5 .
                && cp $COMPILE_ROOT/Dilithium_ref/dilithium/ref/test/test_dilithium5_strm_msg .
                && cp $COMPILE_ROOT/Dilithium_ref/dilithium/ref/test/test_dilithium5_strm_msg_debug .
                && cp -r $MSFT_SCRIPTS_DIR/models/ml-kem .
                && mkdir ml-kem/tv'
global:
  tool:
    vcs:
      default:
        - '-assert svaext'
        - +define+ABR_ASSERT_ON
        - '+define+ABR_MASKING_DISABLED'
        - '+define+ABR_SRAM_2CLK_LATENCY'
        - '-noinherit_timescale=1ns/1ps'
        # Suppress a warning due to calling $fgets as task instead of function
        # i.e. discarding the return value. This is in auto-generated code.
        - '+warn=noRVOSFD'
        # Suppress NOTE about repeated package imports within the same
        # package (each .svh file included in the auto-generated UVM _pkg.sv
        # files imports the same dependencies)
        - '-suppress=SV-LCM-PPWI'
      elab:
        # Suppress warnings about too few port connections - auto-generated interfaces
        # declare all signals as inout, but are driven at a lower layer than the
        # instantiation, so they will always flag this
        - '-suppress=TFIPC'
      sim:
        - '-sv_root $QUESTA_MVC_HOME/questa_mvc_core/linux_x86_64_gcc-6.2.0_vcs'
        - '-sv_lib libahb_IN_SystemVerilog_VCS_full'
        - '-sv_lib libapb3_IN_SystemVerilog_VCS_full'
        # Report "MVC_ERROR" as "UVM_ERROR"
        - '+QVIP_UVM_REPORTING'
        - '+UVM_VERBOSITY=UVM_LOW'  # Adding UVM verbosity level here
---
provides: [uvmf_mldsa_sram1clk_nomasking]
schema_version: 2.4.0
requires:
  - mldsa_uvmf_lib
  - abr_top
  - abr_uvm_pkg
  - abr_coverage
targets:
  tb:
    directories:
      - ${COMPILE_ROOT}
      - ${COMPILE_ROOT}/uvmf_template_output/verification_ip/environment_packages/mldsa_env_pkg
      - ${COMPILE_ROOT}/uvmf_template_output/verification_ip/environment_packages/mldsa_env_pkg/registers
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/parameters
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/sequences
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/tests
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/testbench
    files:
      - ${COMPILE_ROOT}/uvmf_template_output/verification_ip/environment_packages/mldsa_env_pkg/registers/mldsa_reg_model_top_pkg.sv
      - ${COMPILE_ROOT}/uvmf_template_output/verification_ip/environment_packages/mldsa_env_pkg/mldsa_env_pkg.sv
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/parameters/mldsa_parameters_pkg.sv
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/sequences/mldsa_sequences_pkg.sv
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/tests/mldsa_tests_pkg.sv
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/testbench/hdl_top.sv
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/testbench/hvl_top.sv
    tops:
      - hdl_top
      - hvl_top
  sim:
    pre_exec: 'echo "[PRE-EXEC] Copying C executable vector generator to $PWD"
                && cp $COMPILE_ROOT/Dilithium_ref/dilithium/ref/test/test_dilithium5 .
                && cp $COMPILE_ROOT/Dilithium_ref/dilithium/ref/test/test_dilithium5_strm_msg .
                && cp $COMPILE_ROOT/Dilithium_ref/dilithium/ref/test/test_dilithium5_strm_msg_debug .
                && cp -r $MSFT_SCRIPTS_DIR/models/ml-kem .
                && mkdir ml-kem/tv'
global:
  tool:
    vcs:
      default:
        - '-assert svaext'
        - +define+ABR_ASSERT_ON
        - '+define+ABR_MASKING_DISABLED'
        - '-noinherit_timescale=1ns/1ps'
        # Suppress a warning due to calling $fgets as task instead of function
        # i.e. discarding the return value. This is in auto-generated code.
        - '+warn=noRVOSFD'
        # Suppress NOTE about repeated package imports within the same
        # package (each .svh file included in the auto-generated UVM _pkg.sv
        # files imports the same dependencies)
        - '-suppress=SV-LCM-PPWI'
      elab:
        # Suppress warnings about too few port connections - auto-generated interfaces
        # declare all signals as inout, but are driven at a lower layer than the
        # instantiation, so they will always flag this
        - '-suppress=TFIPC'
      sim:
        - '-sv_root $QUESTA_MVC_HOME/questa_mvc_core/linux_x86_64_gcc-6.2.0_vcs'
        - '-sv_lib libahb_IN_SystemVerilog_VCS_full'
        - '-sv_lib libapb3_IN_SystemVerilog_VCS_full'
        # Report "MVC_ERROR" as "UVM_ERROR"
        - '+QVIP_UVM_REPORTING'
        - '+UVM_VERBOSITY=UVM_LOW'  # Adding UVM verbosity level here
---
provides: [uvmf_mldsa_sram2clk]
schema_version: 2.4.0
requires:
  - mldsa_uvmf_lib
  - abr_top
  - abr_uvm_pkg
  - abr_coverage
targets:
  tb:
    directories:
      - ${COMPILE_ROOT}
      - ${COMPILE_ROOT}/uvmf_template_output/verification_ip/environment_packages/mldsa_env_pkg
      - ${COMPILE_ROOT}/uvmf_template_output/verification_ip/environment_packages/mldsa_env_pkg/registers
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/parameters
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/sequences
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/tests
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/testbench
    files:
      - ${COMPILE_ROOT}/uvmf_template_output/verification_ip/environment_packages/mldsa_env_pkg/registers/mldsa_reg_model_top_pkg.sv
      - ${COMPILE_ROOT}/uvmf_template_output/verification_ip/environment_packages/mldsa_env_pkg/mldsa_env_pkg.sv
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/parameters/mldsa_parameters_pkg.sv
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/sequences/mldsa_sequences_pkg.sv
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/tests/mldsa_tests_pkg.sv
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/testbench/hdl_top.sv
      - ${COMPILE_ROOT}/uvmf_template_output/project_benches/mldsa/tb/testbench/hvl_top.sv
    tops:
      - hdl_top
      - hvl_top
  sim:
    pre_exec: 'echo "[PRE-EXEC] Copying C executable vector generator to $PWD"
                && cp $COMPILE_ROOT/Dilithium_ref/dilithium/ref/test/test_dilithium5 .
                && cp $COMPILE_ROOT/Dilithium_ref/dilithium/ref/test/test_dilithium5_strm_msg .
                && cp $COMPILE_ROOT/Dilithium_ref/dilithium/ref/test/test_dilithium5_strm_msg_debug .
                && cp -r $MSFT_SCRIPTS_DIR/models/ml-kem .
                && mkdir ml-kem/tv'
global:
  tool:
    vcs:
      default:
        - '-assert svaext'
        - +define+ABR_ASSERT_ON
        - '+define+ABR_SRAM_2CLK_LATENCY'
        - '-noinherit_timescale=1ns/1ps'
        # Suppress a warning due to calling $fgets as task instead of function
        # i.e. discarding the return value. This is in auto-generated code.
        - '+warn=noRVOSFD'
        # Suppress NOTE about repeated package imports within the same
        # package (each .svh file included in the auto-generated UVM _pkg.sv
        # files imports the same dependencies)
        - '-suppress=SV-LCM-PPWI'
      elab:
        # Suppress warnings about too few port connections - auto-generated interfaces
        # declare all signals as inout, but are driven at a lower layer than the
        # instantiation, so they will always flag this
        - '-suppress=TFIPC'
      sim:
        - '-sv_root $QUESTA_MVC_HOME/questa_mvc_core/linux_x86_64_gcc-6.2.0_vcs'
        - '-sv_lib libahb_IN_SystemVerilog_VCS_full'
        - '-sv_lib libapb3_IN_SystemVerilog_VCS_full'
        # Report "MVC_ERROR" as "UVM_ERROR"
        - '+QVIP_UVM_REPORTING'
        - '+UVM_VERBOSITY=UVM_LOW'  # Adding UVM verbosity level here
