---
provides: [abr_libs]
schema_version: 2.4.0
requires:
  - abr_defines
targets:
  tb:
    directories: [$COMPILE_ROOT/rtl]
    files:
      - $COMPILE_ROOT/rtl/abr_sva.svh
      - $COMPILE_ROOT/rtl/abr_macros.svh
      - $COMPILE_ROOT/rtl/abr_1r1w_ram.sv
      - $COMPILE_ROOT/rtl/abr_1r1w_be_ram.sv
      - $COMPILE_ROOT/rtl/abr_1r1w_512x4_ram.sv
      - $COMPILE_ROOT/rtl/abr_ram_regout.sv
      - $COMPILE_ROOT/rtl/abr_icg.sv
      - $COMPILE_ROOT/rtl/abr_2ff_sync.sv
      - $COMPILE_ROOT/rtl/abr_piso_multi.sv
      - $COMPILE_ROOT/rtl/abr_piso.sv
      - $COMPILE_ROOT/rtl/abr_sample_buffer.sv
      - $COMPILE_ROOT/rtl/abr_msg_buffer.sv
      - $COMPILE_ROOT/rtl/abr_rd_lat_buffer.sv
      - $COMPILE_ROOT/rtl/abr_ahb_defines_pkg.sv
      - $COMPILE_ROOT/rtl/abr_ahb_slv_sif.sv
      - $COMPILE_ROOT/rtl/abr_masked_AND.sv
      - $COMPILE_ROOT/rtl/abr_delay_masked_shares.sv
      - $COMPILE_ROOT/rtl/abr_masked_add_sub_mod_Boolean.sv
      - $COMPILE_ROOT/rtl/abr_masked_MUX.sv
      - $COMPILE_ROOT/rtl/abr_masked_N_bit_Boolean_sub.sv
      - $COMPILE_ROOT/rtl/abr_masked_full_adder.sv
      - $COMPILE_ROOT/rtl/abr_masked_A2B_conv.sv
      - $COMPILE_ROOT/rtl/abr_masked_N_bit_Boolean_adder.sv
      - $COMPILE_ROOT/rtl/abr_masked_B2A_conv.sv
      - $COMPILE_ROOT/rtl/abr_masked_N_bit_mult.sv
      - $COMPILE_ROOT/rtl/abr_masked_N_bit_mult_two_share.sv
      - $COMPILE_ROOT/rtl/abr_adder.sv
      - $COMPILE_ROOT/rtl/abr_add_sub_mod.sv
      - $COMPILE_ROOT/rtl/abr_ntt_add_sub_mod.sv
      - $COMPILE_ROOT/rtl/abr_masked_OR.sv
  rtl:
    directories: [$COMPILE_ROOT/rtl]
    files:
      - $COMPILE_ROOT/rtl/abr_sva.svh
      - $COMPILE_ROOT/rtl/abr_macros.svh
      - $COMPILE_ROOT/rtl/abr_1r1w_ram.sv
      - $COMPILE_ROOT/rtl/abr_1r1w_be_ram.sv
      - $COMPILE_ROOT/rtl/abr_1r1w_512x4_ram.sv
      - $COMPILE_ROOT/rtl/abr_ram_regout.sv
      - $COMPILE_ROOT/rtl/abr_icg.sv
      - $COMPILE_ROOT/rtl/abr_2ff_sync.sv
      - $COMPILE_ROOT/rtl/abr_piso_multi.sv
      - $COMPILE_ROOT/rtl/abr_piso.sv
      - $COMPILE_ROOT/rtl/abr_sample_buffer.sv
      - $COMPILE_ROOT/rtl/abr_msg_buffer.sv
      - $COMPILE_ROOT/rtl/abr_ahb_defines_pkg.sv
      - $COMPILE_ROOT/rtl/abr_ahb_slv_sif.sv
      - $COMPILE_ROOT/rtl/abr_masked_AND.sv
      - $COMPILE_ROOT/rtl/abr_delay_masked_shares.sv
      - $COMPILE_ROOT/rtl/abr_masked_add_sub_mod_Boolean.sv
      - $COMPILE_ROOT/rtl/abr_masked_MUX.sv
      - $COMPILE_ROOT/rtl/abr_masked_N_bit_Boolean_sub.sv
      - $COMPILE_ROOT/rtl/abr_masked_full_adder.sv
      - $COMPILE_ROOT/rtl/abr_masked_A2B_conv.sv
      - $COMPILE_ROOT/rtl/abr_masked_N_bit_Boolean_adder.sv
      - $COMPILE_ROOT/rtl/abr_masked_N_bit_Arith_adder.sv
      - $COMPILE_ROOT/rtl/abr_masked_B2A_conv.sv
      - $COMPILE_ROOT/rtl/abr_masked_N_bit_mult.sv
      - $COMPILE_ROOT/rtl/abr_masked_N_bit_mult_two_share.sv
      - $COMPILE_ROOT/rtl/abr_adder.sv
      - $COMPILE_ROOT/rtl/abr_add_sub_mod.sv
      - $COMPILE_ROOT/rtl/abr_ntt_add_sub_mod.sv
      - $COMPILE_ROOT/rtl/abr_masked_OR.sv
---
provides: [masking_tb]
schema_version: 2.4.0
targets:
  rtl:
    directories: [$COMPILE_ROOT/rtl]
    files:
      - $COMPILE_ROOT/rtl/abr_masked_AND.sv
      - $COMPILE_ROOT/rtl/abr_delay_masked_shares.sv
      - $COMPILE_ROOT/rtl/abr_masked_add_sub_mod_Boolean.sv
      - $COMPILE_ROOT/rtl/abr_masked_MUX.sv
      - $COMPILE_ROOT/rtl/abr_masked_N_bit_Boolean_sub.sv
      - $COMPILE_ROOT/rtl/abr_masked_full_adder.sv
      - $COMPILE_ROOT/rtl/abr_masked_A2B_conv.sv
      - $COMPILE_ROOT/rtl/abr_masked_N_bit_Boolean_adder.sv
      - $COMPILE_ROOT/rtl/abr_masked_B2A_conv.sv
      - $COMPILE_ROOT/rtl/abr_masked_N_bit_mult.sv
      - $COMPILE_ROOT/rtl/abr_masked_N_bit_mult_two_share.sv
      - $COMPILE_ROOT/rtl/abr_masked_OR.sv
  tb:
    directories: [$COMPILE_ROOT/tb]
    files:
      - $COMPILE_ROOT/tb/abr_masked_A2B_conv_tb.sv
      - $COMPILE_ROOT/tb/abr_masked_N_bit_Boolean_adder_tb.sv
      - $COMPILE_ROOT/tb/abr_masked_B2A_conv_tb.sv
      - $COMPILE_ROOT/tb/abr_masked_N_bit_mult_tb.sv
      - $COMPILE_ROOT/tb/abr_masked_N_bit_mult_two_share_tb.sv
      - $COMPILE_ROOT/tb/abr_masked_OR_tb.sv
      
    tops: [abr_masked_OR_tb]
---
provides: [mldsa_uvm_lib]
schema_version: 2.4.0
targets:
  tb:
    directories:
      - $UVM_HOME/src
      - $UVM_HOME/src/dpi
    files:
      - $UVM_HOME/src/uvm_pkg.sv
    tops: []
  dpi_compile:
    directories:
      - $UVM_HOME/src/dpi
    files:
      - $UVM_HOME/src/dpi/uvm_dpi.cc
      - $UVM_HOME/src/dpi/uvm_regex.cc
    options:
      - '-Wno-unused-variable'
      - '-Wno-unused-function'
      - tool:
          vcs:
            - '-DVCS'
          ius:
            - '-DXCELIUM'
---
provides: [mldsa_mvc_lib]
schema_version: 2.4.0
requires:
  - mldsa_uvm_lib
targets:
  tb:
    directories:
      [
        $QUESTA_MVC_HOME/questa_mvc_src/sv,
        $QUESTA_MVC_HOME/questa_mvc_src/sv/ahb,
        $QUESTA_MVC_HOME/questa_mvc_src/sv/ahb/modules,
        $QUESTA_MVC_HOME/questa_mvc_src/sv/apb3,
        $QUESTA_MVC_HOME/questa_mvc_src/sv/apb3/modules,
      ]
    files:
      [
        $QUESTA_MVC_HOME/include/questa_mvc_svapi.svh,
        $QUESTA_MVC_HOME/questa_mvc_src/sv/mvc_pkg.sv,
        $QUESTA_MVC_HOME/questa_mvc_src/sv/apb3/mgc_apb3_v1_0_pkg.sv,
        $QUESTA_MVC_HOME/questa_mvc_src/sv/ahb/mgc_ahb_v2_0_pkg.sv,
        $QUESTA_MVC_HOME/questa_mvc_src/sv/ahb/modules/ahb_lite_slave.sv,
        $QUESTA_MVC_HOME/questa_mvc_src/sv/ahb/modules/ahb_lite_monitor.sv,
        $QUESTA_MVC_HOME/questa_mvc_src/sv/apb3/modules/apb5_master.sv,
        $QUESTA_MVC_HOME/questa_mvc_src/sv/apb3/modules/apb_monitor.sv,
        $QUESTA_MVC_HOME/questa_mvc_src/sv/apb3/modules/apb5_monitor.sv,
      ]
    options:
      - +define+MAP_PROT_ATTR
---
provides: [mldsa_uvmf_lib]
schema_version: 2.4.0
requires:
  - mldsa_mvc_lib
targets:
  tb:
    directories:
      [
        $QUESTA_MVC_HOME/questa_mvc_src/sv,
        $UVMF_HOME/common/mgc_vip/ahb,
        $UVMF_HOME/common/mgc_vip/apb,
        $UVMF_HOME/common/modules,
        $UVMF_HOME/common/utility_packages/qvip_utils_pkg,
        $UVMF_HOME/common/uvm_co_emulation_utilities/uvm_co-emulation_utilities/utils,
        $UVMF_HOME/common/uvm_co_emulation_utilities/uvm_co-emulation_utilities/utils/clock,
        $UVMF_HOME/common/uvm_co_emulation_utilities/uvm_co-emulation_utilities/utils/memload,
        $UVMF_HOME/common/uvm_co_emulation_utilities/uvm_co-emulation_utilities/utils/reset,
        $UVMF_HOME/uvmf_base_pkg,
        $COMPILE_ROOT/uvmf/qvip_ahb_lite_slave_dir/uvmf,
        $COMPILE_ROOT/uvmf/qvip_ahb_lite_slave_dir/config_policies,
      ]
    files:
      [
        $UVMF_HOME/uvmf_base_pkg/uvmf_base_pkg_hdl.sv,
        $UVMF_HOME/uvmf_base_pkg/uvmf_base_pkg.sv,
        $UVMF_HOME/common/utility_packages/qvip_utils_pkg/qvip_utils_pkg.sv,
        $UVMF_HOME/common/mgc_vip/ahb/mgc_ahb_master_hdl.sv,
        $UVMF_HOME/common/mgc_vip/ahb/mgc_ahb_master_hvl.sv,
        $UVMF_HOME/common/mgc_vip/ahb/mgc_ahb_module_hvl.sv,
        $UVMF_HOME/common/mgc_vip/ahb/mgc_ahb_signal_if.sv,
        $UVMF_HOME/common/mgc_vip/ahb/mgc_ahb_slave_hdl.sv,
        $UVMF_HOME/common/mgc_vip/ahb/mgc_ahb_slave_hvl.sv,
        $UVMF_HOME/common/modules/ahb_master.v,
        $UVMF_HOME/common/modules/ahb_memory_slave_module_hdl.sv,
        $UVMF_HOME/common/modules/ahb_memory_slave_module_hvl.sv,
        $UVMF_HOME/common/modules/ahb_memory_slave_module.sv,
        $UVMF_HOME/common/modules/ahb_slave.v,
        $UVMF_HOME/common/modules/apb3_memory_slave_module.sv,
        $UVMF_HOME/common/mgc_vip/apb/apb_master_hdl_wrapper.sv,
        $UVMF_HOME/common/mgc_vip/apb/apb_master_hvl_wrapper.sv,
        $UVMF_HOME/common/mgc_vip/apb/apb_monitor_hdl_wrapper.sv,
        $UVMF_HOME/common/mgc_vip/apb/apb_monitor_hvl_wrapper.sv,
        $UVMF_HOME/common/uvm_co_emulation_utilities/uvm_co-emulation_utilities/utils/clock/clock_pkg.sv,
        $UVMF_HOME/common/uvm_co_emulation_utilities/uvm_co-emulation_utilities/utils/clock/clock_bfm.sv,
        $UVMF_HOME/common/uvm_co_emulation_utilities/uvm_co-emulation_utilities/utils/memload/memload_pkg.sv,
        $UVMF_HOME/common/uvm_co_emulation_utilities/uvm_co-emulation_utilities/utils/reset/reset_pkg.sv,
        $UVMF_HOME/common/uvm_co_emulation_utilities/uvm_co-emulation_utilities/utils/reset/async_reset_bfm.sv,
        $UVMF_HOME/common/uvm_co_emulation_utilities/uvm_co-emulation_utilities/utils/reset/sync_reset_bfm.sv,
        $COMPILE_ROOT/uvmf/qvip_ahb_lite_slave_dir/config_policies/qvip_ahb_lite_slave_params_pkg.sv,
        $COMPILE_ROOT/uvmf/qvip_ahb_lite_slave_dir/uvmf/qvip_ahb_lite_slave_pkg.sv,
        $COMPILE_ROOT/uvmf/qvip_ahb_lite_slave_dir/uvmf/hdl_qvip_ahb_lite_slave.sv,
        $COMPILE_ROOT/uvmf/qvip_ahb_lite_slave_dir/uvmf/default_clk_gen.sv,
        $COMPILE_ROOT/uvmf/qvip_ahb_lite_slave_dir/uvmf/default_reset_gen.sv,
      ]
    tops: []

